.navbar-header .navbar-nav{
    float: left;
}
.navbar-header .navbar-nav > li > a{
    padding: 15px 20px;
}
.navbar-brand{
    display: inline-block;
    vertical-align: middle;
    line-height: 46px;
    
    padding: 8px 0;
    padding-left: 20px;
}
.navbar-brand > img{
    margin-top: 0px;
    height: 30px;
}
@media (min-width: 769px){
    .navbar-nav {
        margin-left: 0px;
        padding-left: 0px;
    }
    
}

